*_summary.xml
*_usage.xml
*_pn.xml

*.fdb_latexmk
*.pof
*.sld
*.fls
*.mti
*.bld
*.cmd_log
*.ncd
*.lso
*.ngc
*.ngd
*.ngr
*.par
*.pcf
*.stx
*.syr
*.xst
*.map
*.mrp
*.ngm
*.xrpt
*.log
*.vcd
*.pdf
*.qdf
*.summary
*.pin
*.smsg
*.orig
*.i
*.o
*.old
*.ini
*.out
*.tmp
*.jdi
*.str
vivado*.zip

# Ignore Vivado journal files
vivado*.jou
webtalk*.jou
vivado*.log

# Ignore LaTeX temp files
doc/**/*.aux
doc/**/*.toc
doc/**/*.bbl
doc/**/*.blg
doc/**/*.lof
doc/**/*.lot
doc/**/*.lol
doc/**/*.synctex.gz

scripts/tcl/vivado/
